/* base stylesheet for vsartor.com */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
html {
    font-family: "Roboto", monospace;
    line-height: 1.15;
}

body {
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    display: block;
}

li {
    display: inline-block;
}

.button {
    display: inline-block;
    text-align: center;
    font-family: inherit;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 2px;
}

a:visited {
    text-decoration: inherit;
}

div {
    display: block;
}

strong {
    color: #FF66E5;
    font-weight: bold;
}

em {
    color: #4A94FF;
}


/*
 * SIDEBAR
 */

.sidebar {
    display: inline-block;
    background: rgb(237, 240, 243);
    color: #444;
    width: 100%;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.blog-title,
.blog-tagline {
    margin: 0
}

.blog-title {
    text-transform: uppercase;
    color: rgb(110, 136, 159);
}

.blog-tagline {
    font-weight: 300;
    color: rgb(110, 136, 159);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item a {
    background: transparent;
    border: 2px solid #8fbeff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
    color: #4A94FF;
}

.nav-item a:hover {
    border: 2px solid #4A94FF;
}


/*
 * CONTENT
 */

.content {
    display: inline-block;
    padding: 2em 1em 0;
    width: calc(100% - 2em);
    vertical-align: top;
}

.section-title {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.posts {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 40em;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.post-title a {
    color: #222;
    text-decoration: none;
}

.post-title a:hover {
    color: #555;
}

.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-description {
    color: #444;
    line-height: 1.8em;
    margin-bottom: 3em;
}


/*
 * LARGER SCREEN RESPONSIVENESS
 */

@media (min-width: 60em) {
    .content {
        padding: 2em 3em 0;
        margin-left: min(25%, 20em);
        width: max(calc(75% - 6em), calc(100% - 20em - 6em));
    }
    .header {
        margin: 80% 2em 0;
        text-align: right;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 25%;
        max-width: 20em;
    }
    .nav-item {
        display: block;
    }
}

@media (min-width: 90em) {
    .posts {
        transform: translateX(-5%);
    }
}