${head}

<body>
	<div class="title-box">
		<div class="resume-title-intro">
			Curriculum Vitae
		</div>
		<div class="title-text">
			<a href="@{base_url}">Victhor Sartório</a>
		</div>
		<div class="resume-title-outro">
			<span class="line">Data Scientist</span>
		</div>
	</div>

	<div class="resume-separator">
		<hr>
	</div>

	<div class="resume-body">
		<div class="resume-section">
			<div class="resume-section-title">
				<p>
					<u>Skills</u>
					<br>
					<u>Overview</u>
				</p>
			</div>
			<div class="resume-section-content">
				<p>
					Experienced in obtaining useful insights from data and applying machine learning models to solve practical business problems and generate value in an Agile manner.
				</p>
				<p>
					Highly proficient in software development with Python, including popular data libraries such as Pandas, Dask, PySpark, scikit-learn, fklearn and Keras. Also proficient with Scala, Go and R.
				</p>
				<p>
					Experienced productizing machine learning products meeting scalability requirements, using tools such as Hadoop, Spark and Google Cloud Platform (GCP).
				</p>
			</div>
		</div>

		<div class="resume-section">
			<div class="resume-section-title">
				<u>Professional</u>
				<br>
				<u>Experience</u>
			</div>
			<div class="resume-section-content">
				<div class="resume-experience-company">
					Globo.com
				</div>
				<div class="resume-experience-company-title-separator">
					|
				</div>
				<div class="resume-experience-title">
					Data Scientist
				</div>
				<div class="resume-experience-period">
					November 2019 - Present, Rio de Janeiro
				</div>
				<div class="resume-experience-description">
					<p>
						Employed as a Data Scientist at the Big Data & AI area, working within the Advertising value stream.
					</p>
					<p>
						Responsible for building data driven advertising products, ranging for determining user propensity to engage with digital campaigns to optimizing ad insertion maps for broadcast TV.
					</p>
					<p>
						Experience building automated Machine Learning models meeting strict scalability demands due to high volumes of digital audiences. Extensive use of Python, Spark and Google Cloud Platform (GCP).
					</p>
				</div>

				<div class="resume-experience-company">
					Applied Mathematics Laboratory
				</div>
				<div class="resume-experience-company-title-separator">
					|
				</div>
				<div class="resume-experience-title">
					Graduate Researcher
				</div>
				<div class="resume-experience-period">
					January 2018 - November 2019, Rio de Janeiro
				</div>
				<div class="resume-experience-description">
					<p>
						Employed as part of the consulting group for the Brazilian life insurance market.
					</p>
					<p>
						Responsible for providing forecasts of the Brazilian insured population for both government regulators and individual private companies, using multidimensional forecasting methods and handling large volumes of sensitive insurance companies and government data.
					</p>
					<p>
						Also responsible for working directly with clients to understand ad hoc demands and providing data driven solutions and insights.
					</p>
					<p>
						Extensive use of R and SQL.
					</p>
				</div>
			</div>
		</div>

		<div class="resume-section">
			<div class="resume-section-title">
				<u>Education</u>
			</div>
			<div class="resume-section-content">
				<div class="resume-experience-company">
					Masters in Statistics
				</div>
				<div class="resume-experience-company-title-separator">
					|
				</div>
				<div class="resume-experience-title">
					Federal University of Rio de Janeiro
				</div>
				<div class="resume-experience-period">
					March 2018 - March 2020, Rio de Janeiro
				</div>
				<div class="resume-experience-description">
					<p>
						Masters degree in Statistics and Probability with a dissertation focused on developing a novel time-varying clustering model for multidimensional time-series data, with presentations in international forums.
					</p>
				</div>

				<div class="resume-experience-company">
					Bachelors in Statistics
				</div>
				<div class="resume-experience-company-title-separator">
					|
				</div>
				<div class="resume-experience-title">
					National School of Statistical Sciences
				</div>
				<div class="resume-experience-period">
					August 2014 - August 2018, Rio de Janeiro
				</div>
				<div class="resume-experience-description">
					<p>
						Bachelors in Statistics, with two scientific initiation projects in Graph Theory and Bayesian Theory, several presentations in various national forums and a final dissertation proposing a new mortality rate model based on existing literature, but extended to take into account recent time-varying dynamics in age patterns by capturing non-linear behaviours.
					</p>
				</div>
			</div>

		</div>
	</div>
</body>
