${head}

<body>
${header}

	<div class="title-separator">
		<hr>
		<div class="title-separator-text">
			Welcome to my webpage. Navigate below.
		</div>
		<hr>
	</div>

	<div class="navigation-menu">
		<a href="https://medium.com/vsartor">
			<div class="navigation-card">
				<img src="./blog.png">
				<div class="navigation-card-title">
					Blog
				</div>
				<div class="navigation-card-description">
					Make sure to check out some of my blog posts. Currently hosted on medium.
				</div>
			</div>
		</a>

		<a href="@{base_url}/cv.html">
			<div class="navigation-card">
				<img src="./cv.png">
				<div class="navigation-card-title">
					CV
				</div>
				<div class="navigation-card-description">
					My curriculum vitae. Learn my skills, experiences and certifications.
				</div>
			</div>
		</a>

		<a href="@{base_url}/social.html">
			<div class="navigation-card">
				<img src="./social.png">
				<div class="navigation-card-title">
					Social
				</div>
				<div class="navigation-card-description">
					Connect with me on LikedIn, check out my Github, see me on Instagram, et cetera.
				</div>
			</div>
		</a>
	</div>
</body>
