<div class="sidebar">
    <div class="header">
        <h1 class="blog-title">Victhor Sartório</h1>
        <h2 class="blog-tagline">A blog about <em>data science</em> and <em>anything else</em>.</h2>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="button" href="@{base_url}/index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="@{base_url}/whoisvicthor.html">Who am I?</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="https://github.com/vsartor">Github</a>
                </li>
                <li class="nav-item">
                    <a class="button" href="https://twitter.com/csvicthor">Twitter</a>
                </li>
            </ul>
        </nav>
    </div>
</div>