${head}

<body>
${header}

	<div class="title-separator">
		<hr>
		<div class="title-separator-text">
			You're more than welcome to connect with me.
		</div>
		<hr>
	</div>

	<div class="navigation-menu">
		<a href="https://github.com/vsartor">
			<div class="navigation-card">
				<img src="./github.png">
				<div class="navigation-card-title">
					Github
				</div>
				<div class="navigation-card-description">
					Check out some of my repositories
				</div>
			</div>
		</a>

		<a href="https://www.linkedin.com/in/vsartor/">
			<div class="navigation-card">
				<img src="./linkedin.png">
				<div class="navigation-card-title">
					LinkedIn
				</div>
				<div class="navigation-card-description">
					Connect with me and feel free to send a message.
				</div>
			</div>
		</a>

		<a href="https://twitter.com/vssartorio">
			<div class="navigation-card">
				<img src="./twitter.png">
				<div class="navigation-card-title">
					Twitter
				</div>
				<div class="navigation-card-description">
					I only retweet, but feel free to follow!
				</div>
			</div>
		</a>
	</div>
</body>

